html, p, h3, h2, li, a
{
  font-family:"Tahoma sans-serif verdana sans";
  text-align:justify;
}

body
{
	background-color:rgb(245, 245, 255);
	margin:3px;
	padding:1px;
	font-size:9pt;
}

h2
{
	font-size:11pt;
	font-weight:bold;
	text-align:center;
}

h5
{
	font-size:9pt;
	font-weight:bold;
}

h4
{
	font-size:9.5pt;
	font-weight:bold;
}

h3
{
	font-size:10pt;
	font-weight:bold;
	text-align:center;
}

p, li, ul
{
	text-align:justify;
	font-size:9pt;
}

img
{
	float:right;
	color:black;
}

.policy
{
	text-decoration:underline;
}

/* link vistitati o non ancora visitati */
a:link
{
	color:blue;
}

a:visited
{
	color:rgb(88%,88%,89%);
}

p
{
	text-align:justify;
}

.footnote
{
	font-size:8pt;
}


.note
{
	text-transform:small-caps;
}