body
{
	background-color:rgb(80%, 70%, 90%);
	margin:2px;
	padding:1px;
}

h3
{
	font-size:7px;
	font-style:italic;
}

li
{
	font-style:italic;
	font-size:14px;
}

.policy
{
	text-decoration:underline;
}

/* link vistitati o non ancora visitati */
a:link
{
	color:blue;
}

a:visited
{
	color:rgb(88%,88%,89%);
}