
Package: ipfire-wall
Version: 0.99.4ubuntu_source
Section: utils
Priority: optional
Architecture: i386
Depends: kdelibs5 (>= 4:4.0.0), kdelibs5-dev (>= 4:4.0.0), konsole (>=4:4.0.0) | konsole-kde4 (>=4:4.0.0), libqwt5-qt4 (>=5.0.2), libqwt5-qt4-dev (>=5.0.2), libc6 (>=2.4),  libqt4-core (>=4.3.0) | libqtcore4 (>=4.3.0), libqt4-gui (>=4.3.0) | libqtgui4 (>=4.3.0), libqt4-dev (>=4.3.0), libstdc++6 (>=4.1.1), linux-headers-generic, build-essential, gcc, g++, bash
Installed-Size: 9780
Maintainer: Giacomo S. (delleceste@gmail.com)
Description: An easy to use linux firewall, NAT capable and integrated in kde and gnome desktops.
 .
 IPFIRE-wall provides simple configuration and management of
 your personal network.
 This package installs the user interface and the kernel module.
 Needs Qt4 libraries installation, libqwt5-qt4 libraries and kdelibs5.
 Integrates with the GNOME and KDE desktop environments.
 .
  Homepage: http://www.giacomos.it/
