html, p, h3, h2, li, a
{
  font-family:"Tahoma sans-serif verdana sans";
}

body
{
	background-color:rgb(97%, 97%, 98%);
	margin:2px;
	padding:1px;
	font-size:9pt;
}

h2
{
	font-size:10pt;
	font-weight:bold;
}

h3
{
	font-size:9.5pt;
	font-weight:bold;
	text-align:center;
}

h4
{
	font-size:9pt;
	font-weight:bold;
}



p, li, ul
{
	text-align:justify;
	font-size:9pt;
}

/* link vistitati o non ancora visitati */
a:link
{
	color:rgb(10%,10%,50%);
}

a:visited
{
	color:rgb(15%,15%,55%);
}

.fastlink
{
  color:rgb(50%,90%,55%);
  font-weight:bold;
  text-decoration:none;
}

.footnote
{
	font-size:7pt;
}
